
.main {
  background-color: rgb(105, 201, 105);
  display: flex;
  justify-content: space-between;
  padding: 0rem 1rem;
  align-items: center;
  height: 10vh;
}
.left {
  display: flex;
  justify-content: space-between;
  width: 30vw;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}
.leftSec{
  display: flex;
 color: rgb(172, 50, 50);
 font-weight: 2rem;
}
.leftThird{
  display: flex;
  width: 80vw;
  justify-content: space-between;
  font-size: 1.5rem;
}
.link {
  text-decoration: none;
  color: white;
}
.bookmarked{
  color: rgb(8, 30, 138);
font-size: 2rem;
margin:0 1vw 1vw 0;
}
@media screen and (max-width: 480px) {
  .left{
    font-size: 1rem;
    width: 40vw;
  }
}