.bg-body-tertiary {
  color: red;
  background-color: blueviolet;
}
.link {
  text-decoration: none;
  color: white;
}

.navbarMain {
  background-color: rgb(5, 110, 44);
}
.navbar-brand {
  font-size: 2rem;
  display: flex;
  justify-content: space-around;
  width: 20vw;

}
