.mainbox {
  background-image: url("https://www.hdwallpapers.in/download/plant_leaves_water_drops_dark_background_4k_hd_nature-3840x2160.jpg");

  height: 100vh;
}

.showbook {
  background-color: rgb(207, 239, 205);
  display: flex;
  justify-content: space-between;

  column-gap: 5rem;
  padding: 1.5rem;
  border-radius: 10px;
  margin-top: 5vh;
  box-shadow: 5px 5px 5px 5px grey;
  width: 80vw;
  text-align: center;
  flex-direction: column;
  margin-left: 9vw;
}
