.postDetails {
  background-image: url("https://www.hdwallpapers.in/download/plant_leaves_water_drops_dark_background_4k_hd_nature-3840x2160.jpg");
  background-repeat: no-repeat;
  height: 100vh;
}
.p-4 {
  font-weight: bolder;
  font-size: 1.5rem;
  background-color: rgb(207, 239, 205);
  column-gap: 5rem;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  width: 60vw;
}
.content img {
  width: 40%;
  height: auto;
}
