.mainDiv{
    display: flex;
    flex-direction:row ;
    align-items: center;
    justify-content: center;
    margin-top: 15rem;
    margin-left: 50rem;
    padding: 1rem;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 40vh;
    align-items: center;
    display: flex;
    flex-direction:row ;
    align-items: center;
    font-size: larger;
}