.mainDiv{
 background-image: url("https://wallpaper-house.com/data/out/10/wallpaper2you_412558.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  background-position: center;
}
.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
    margin-left: 50rem;
    padding: 1rem;
    width: 20vw;
    box-shadow: 5px 5px 5px 5px gray;
    height: 50vh;
  
    font-size: larger;
    z-index: 1;
    margin-top: 20vh;
    position: absolute;
    color: white;
  
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://i.pinimg.com/originals/ca/fd/fe/cafdfecffe9e91c1fc38b2e286218b92.jpg");
  }