.createPage {
  background-image: url("https://www.hdwallpapers.in/download/plant_leaves_water_drops_dark_background_4k_hd_nature-3840x2160.jpg");

  background-repeat: no-repeat;
  height: 100vh;
}
.container {
  background-color: rgb(207, 239, 205);
  margin-top: 10vh;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px grey;
  width: 80vw;
  height: 80vh;
}
.container h1 {
  font-family: Candara;
}
.form-label {
  font-size: 2rem;
  color: red;
}
.form-control {
  height: 10vh;
}
#rte {
  height: 15vh;
}
